body {
  width: 900px;
  margin: auto;
  background-color: #252e35;
  color: #fff;
}

.Navbtn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.Navbtn button {
  padding: 20px 45px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: #f0ffff;
  font-size: 18px;
}

.project-handler {
  margin-top: 50px;
}

.project-handler nav a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 20px;
  background-color: #f0ffff;
  border-radius: 10px;
  
  font-size: 20px;
  color: #252e35;

}
